body{
  background-image: url("../img/check-back.jpeg");
}
select{
  width: 95%;
  margin: 0 2px 2px 2px;
}

.deletesheet-area{
  margin: 10px 10px 0 0;
    padding: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #7ED1E6;
  border-radius: 10px; 
}

.itemHeadermin{
  color: #6cb4e4;
  text-align: center;
  margin: 2px;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

#delwin-delete{
  width: 95%;
  background-color: rgb(255, 79, 79);
  border: 2px solid rgb(255, 79, 79);
  color: #fff;
  line-height: 20px;
  margin: 1px 3px;
}

#delwin-delete:hover{
  background-color: #fff;
  border-color: rgb(255, 79, 79);
  color: rgb(255, 79, 79);
}