body{
  background-image: url("../img/check-back.jpeg");
}

button{
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
}

textarea{
  resize: none;
}

select{
  width: 100px;
}

.topicon{
  animation: rotate-anime 5s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}

.title{
  white-space: nowrap;
  font-size: 24px;
  font-family: 'Mv Boli',sans-serif;
  color: #505050;/*文字色*/
  padding: 0.5em;/*文字周りの余白*/
  display: inline-block;/*おまじない*/
  line-height: 1.3;/*行高*/
  background: #dbebf8;/*背景色*/
  vertical-align: middle;
  border-radius: 25px 0px 0px 25px;/*左側の角を丸く*/

  position: absolute;
  top: 4%;
}
.title:before {
  content: '●';
  color: white;
  margin-right: 8px;
}

.top-setting{
  float: right;
}

.top-setting button{
  display: inline-block;
  width: 100px;
  height:50px;
  text-align: center;
  background-color: #9ec34b;
  font-size: 12px;
  line-height: 50px;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #9ec34b;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.top-setting button:after{
  width: 100%;
  height: 0;
  content:"";
  position: absolute;
  top: 50%;
  left: 50%;
  background : #FFF;
  opacity: 0;
  transform: translateX(-40%) translateY(-40%) rotate(45deg);
  transition: .2s;
  z-index: -1;
}
.top-setting button:hover{
  color: #9ec34b;
}
.top-setting button:hover:after{
  height: 240%;
  opacity: 1;
}
.top-setting button:active:after{
  height: 340%;
  opacity: 1;
}

.itemHeader{
  color: #6cb4e4;
  text-align: center;
  margin: 3px;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  
}


.itemHeadermin{
  color: rgb(51, 51, 51);
  position: absolute;
  font-family: 'Meiryo UI',sans-serif;
  font-size: 14px;
  top:-10px;
  background-color: #7ED1E6;
  padding: .1em;
border: 3px solid rgb(26, 181, 219);
border-radius: 3em .7em 2em .7em/.7em 2em .7em 3em;
}
.itemHeadermin:after {
  background-color: #b6f0fc;
}


.sheet-name-area{
    /*background-color: aquamarine;*/
    position: relative;
}

.under-position{
  position: relative;
}

#sheetname-add span{
  position: absolute;
  bottom: 3px;
}

.data-area{
  position: relative;
  /*background-color: aqua;*/
}

.sheet-name-arealist,
.tag-area,
.data-area {
  padding: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #7ED1E6;
  border-radius: 10px;  
}

#left-data span{
  position: absolute;
  bottom: 0;
}


.selected{
  background:yellow;
}
.third-half-separate{
  height: 80%;
}

.chat-area{
  padding: .5em;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #7ED1E6;
  border-radius: 10px;
}


.chat-data-area{
  height: 70%;
  background: lightgreen;
  margin: 5px;
}



@media ( min-width : 100px ){
    .first-half-separate {
      display: -webkit-flex;
      display: flex;
    }
    .half-separate{
      width: 75%;
    }
    .chat-area{
      width: 25%;
      height: 80%;
      /*background: blueviolet;*/
    }
  }
  

@media ( min-width : 100px ){
    .third-half-separate {
      display: -webkit-flex;
      display: flex;
      /*background: greenyellow;*/
    }
  .sheet-name-area {
    margin: 0 10px 0 0;
    width: 40%;
  }
  .data-area{
    margin: 0 10px 0 0;
    width: 55%;
  }
}

@media ( min-width : 100px ){
    .sheet-name-area {
      display: -webkit-flex;
      display: flex;
      /*background: greenyellow;*/
    }
  .sheet-name-arealist {
    margin: 0 10px 0 0;
    width: 45%;
  }
  .tag-area{
    margin: 0 10px 0 0;
    width: 45%;
  }
}
.sheet-name-button{
    
    width: 95px;
    display: inline-block;
  padding: 0.5em 1em;
  margin: 2px 0px;
  text-decoration: none;
  background: #f7f7f7;
  font-size: 12px;
  border-left: solid 6px #5c95ff;/*左線*/
  color: #5c95ff;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.sheet-name-button:active {
    box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

#sheet-name-addbutton,#tag-name-addbutton,#update_data,#data-add,#chat-post{
  background-color: rgb(79, 96, 255);
  border: 2px solid rgb(79, 96, 255);
  color: #fff;
  line-height: 20px;
  margin: 1px;
}
#sheet-name-addbutton:hover,#tag-name-addbutton:hover,#update_data:hover,
#data-add:hover,#chat-post:hover{
  background-color: #fff;
  border-color: rgb(79, 96, 255);
  color: rgb(79, 96, 255);
}


#update_data{
  width: 50px;
}

#numminus{
  display: inline-block;
  text-decoration: none;
  background: #5dc3d0;
  color: rgb(82, 142, 150);
  width: 20px;
  font-size: 10px;
  height: 20px;
  line-height: 0px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px #549fa9;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s;
  transform: translateY(-1px);
}
#numminus:active{
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}

#numplus{
  display: inline-block;
  text-decoration: none;
  background: rgb(255, 79, 79);
  color: rgb(82, 142, 150);
  width: 20px;
  font-size: 10px;
  height: 20px;
  line-height: 0px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
  border-bottom: solid 3px rgb(196, 55, 55);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  transition: .4s;
  transform: translateY(-1px);
}
#numplus:active{
  -webkit-transform: translateY(1px);
  transform: translateY(1px);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.35);
  border-bottom: none;
}
#delete_data{
  width: 50px;
  background-color: rgb(255, 79, 79);
  border: 2px solid rgb(255, 79, 79);
  color: #fff;
  line-height: 20px;
  margin: 1px 3px;
}
#delete_data:hover{
  background-color: #fff;
  border-color: rgb(255, 79, 79);
  color: rgb(255, 79, 79);
}



#sheet-data-list-table{
  border: none;
  border-collapse:separate;
  border-spacing: 5px;
  width: 100%;
}

#sheet-data-list-table th,#sheet-data-list-table td{
  border-radius: 5px;
  text-align: center;
  padding: 3px 0;
}

#sheet-data-list-table th{
  background-color: #c79852;
  color: white;
  border:solid 1px #927141;
}

#sheet-data-list-table td{
  background-color: #e4d4bc;
  color: rgb(39, 39, 39);
  border:solid 1px #af9d85;
}
.table-num{
  width: 20%;
}

.refresh-icon {
  color: #000;
  position: absolute;
  margin-left: 4px;
  margin-top: 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border-top: solid 1px currentColor;
  border-bottom: solid 1px currentColor;
  border-left: solid 1px transparent;
  border-right: solid 1px currentColor;
}

.refresh-icon:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 10px;
  width: 3px;
  height: 3px;
  border-top: solid 1px currentColor;
  border-left: solid 1px currentColor;
  -webkit-transform: rotate(-22.5deg);
          transform: rotate(-22.5deg);
}

#refresh-icon{
  display: inline-block;
  transform: translateY(-10px) translateX(-10px);
}

#reload-chat-list{
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 30px;
  height: 30px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

#reload-chat-list:hover {
  background: #668ad8;
}

#chatlist{
  font-size: 70%;
}



.chatbutton {
  display: inline-block;
  position: relative;
  padding: 7px 20px;
  border-radius: 15px;
  padding: 5px 5px;
  margin: 2px 1px 2px 10px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
  transition: .4s;
}

.chatbutton:before {  
  content: "";
  position: absolute;
  top: 50%;
  left: -12px;
  margin-top: -2px;
  border: 6px solid transparent;
  border-right: 10px solid #FFC107;
}

input{
  position: relative;
}

input:focus{
  border:solid 1px #EEA34A;
}

#sheetname-post-area,
#chat-post-name,
#chat-post-text{
  margin: 2px;
  padding: 1px;
}

div::-webkit-scrollbar{
  width: 12px;
}
div::-webkit-scrollbar-track{
  background: #fff;
  border: none;
  border-radius: 10px;
  box-shadow: inset 0 0 2px #777; 
}
div::-webkit-scrollbar-thumb{
  background: #aaa;
  border-radius: 10px;
  box-shadow: none;
}