body{
  background-image: url("../img/check-back.jpeg");
}

input{
  width: 80%;
}
select{
  width: 80%;
}
textarea{
  resize: none;
  width: 90%;
}

.newdata-add-area{
    margin: 10px 10px 0 0;
    padding: 2%;
  background-color: rgba(255, 255, 255, 0.5);
  border: 2px solid #7ED1E6;
  border-radius: 10px; 
  
  }

.itemHeadermin{
  color: #6cb4e4;
  text-align: center;
  margin: 3px;
  padding: 0.25em;
  border-top: solid 2px #6cb4e4;
  border-bottom: solid 2px #6cb4e4;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}


  #data-add{
    width: 90%;
    background-color: rgb(79, 96, 255);
    border: 2px solid rgb(79, 96, 255);
    color: #fff;
    line-height: 20px;
    margin: 3px;
  }
  #data-add:hover{
      background-color: #fff;
  border-color: rgb(79, 96, 255);
  color: rgb(79, 96, 255);
  }